<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Notch:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1>Check the weather in your city</h1>
  </header>

  <div class="search">
    <mat-form-field>
      <mat-label>Enter city name</mat-label>
      
      <input type="text" 
            matInput 
            [formControl]="searchControl" 
            [matAutocomplete]="auto"
            (keyup.enter)="onSearch()">

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSearch()">
        
        @for (city of citySuggestions$ | async; track city) {
          
          <mat-option [value]="city.name">
            {{ city.name }}, {{ city.country }} @if(city.state) { ({{ city.state }}) }
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <button (click)="onSearch()">Search</button>
  </div>

  @if (weatherData) {
  <div class="content">

    <h2>{{ weatherData.name }}, {{ weatherData.sys.country }}</h2>

    <div class="main-info">
      <div class="icon-and-temp">
        <img [src]="'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '@2x.png'">
        <p class="temp">{{ weatherData.main.temp }}°C</p>
      </div>
      <div class="main-details">
        <p class="description">{{ weatherData.weather[0].description }}</p>
        <p>Feels like: {{ weatherData.main.feels_like }}°C</p>
      </div>
    </div>

    <div class="details-grid">
      <div class="detail-item">
        <span>Humidity</span>
        <p>{{ weatherData.main.humidity }}%</p>
      </div>
      <div class="detail-item">
        <span>Wind</span>
        <p>{{ weatherData.wind.speed }} m/s</p>
      </div>
      <div class="detail-item">
        <span>Cloudiness</span>
        <p>{{ weatherData.clouds.all }}%</p>
      </div>
      <div class="detail-item">
        <span>Pressure</span>
        <p>{{ weatherData.main.pressure }} hPa</p>
      </div>
    </div>

  </div>
} 

@if (errorMessage) {
  <div class="toast-error" [class.fade-out]="isFadingOut">
    <p>{{ errorMessage }}</p>
  </div>
}

</body>
</html>